body{
  font-family: "Karla",sans-serif;
  background-color: #eff7e1;
}

@media only screen and (max-width:700px){
  body .grid-layout{
    margin-left: 10%;
    width: 80%;
  }
  .bottom-container{
    flex-direction: column;
  }
  .monthly-sub, .sub-perks{
    flex:4;
  }

  .bottom-container .monthly-sub{
    border-bottom-left-radius: 0;
  }
  .bottom-container .sub-perks{
    border-bottom-left-radius : 10px;
  }
}

h3{
  color: #1B9D8C;
  font-weight: bold;
  margin-top: 0;
  line-height: 1.5;
}

p{
  font-weight: 700;
}

.grid-layout{
  position: relative;
  margin-left: 25%;
  margin-top: 5%;
  width: 50%;
  background-color: white;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
}

.Subscription-detail{
  padding: 5%;
  padding-right: 2%;
}

.Subscription-detail h5{
  color: #bbf335;
  margin-bottom:0;
  line-height: 2;
  font-weight: 700;
}

.desc{
  color: grey;
  margin-bottom: 0;
  line-height: 1.75;

}

.bottom-container{
  display: flex;
  color: #fff;
}

.monthly-sub{
  background-color: #1B9D8C;
  border-bottom-left-radius: 10px;
  flex: 2;
  padding: 5% 5%;
}

.monthly-sub h5{
  color: #fcfffc;
}

.sign-up{
  font-weight: bold;
  border-radius: 10px;
  background-color : #bbf335;
  color: #fff;
  width: 75%;
  height: 25%;
  margin-top: 2%;
  margin-bottom: 10%;

}

.sub-perks{
  background-color: #32b0a4;
  border-bottom-right-radius: 10px;
  flex: 2;
  padding: 5% 5%;
}

.sub-perks p{
  color: #f9faf9;
}
